.contador {
    min-width: 300px;
    height: auto;
    font-size: 160px;
    padding: 25px;
    display: flex;
    justify-content: center;
    background-color: #517495;
    color: #fff;
    align-items: center;
}